<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        {% block title %}
        {% endblock %}
    </head>
    <body style="margin: 0; padding: 1em;">
        {% block header %}
            <h1>DIRTY DASHERS</h1>
            <h2><i>Nahi Khan and Ahmed Sultan<i></h2>
        {% endblock %}

        {% block body %}
        {% endblock %}

        <br>
        <br>

        {% block footer %}
            <div class="footer" style="background-color: black; padding: 1em; color: white;">
                <span>Dirty Dashers (Ahmed Sultan and Nahi Khan), 2019</span>
            </div>
        {% endblock %}
    </body>
</html>