{% extends "base.html" %}

{% block title %}
    <title>K16 — Login</title>
{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <span style="color: red;">{{ message }}</span>
        <br>
    {% endfor %}
    <br>
    <form action="/auth">
        <span>USERNAME </span><input type="text" name="username">
        <br> <br>
        <span>PASSWORD </span><input type="text" name="password">
        <br> <br>
        <input type="submit" name="login" value="Login">
    </form>
{% endblock %}